@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; 
}

header {
  width: 100%;
  overflow-x: hidden;
}

.banner img {
  width: 100%;
  overflow-x: none;
}

.banner {
  width: 100%;
  overflow-x: none;
  position: relative;
}

.textbanner {
  top: 7%;
  left: 6%;
}

.textbanner h1 {
  padding: 2rem;
  margin: 0.7rem 43rem 0rem 3px;
  top: -28rem;
  left: 9rem;
  font-weight: 200;
  border: 2px solid white;
  color: white;
  font-size: 3.8rem;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  position: relative;
}

#logo {
  margin-bottom: 0rem;
  bottom: 33rem;
  left: 145px;
  position: relative;
}

nav.menu ul {
  display: flex;
  position: relative;
  bottom: 32.3rem;
  left: 47.3rem;
}

nav.menu ul li {
  list-style: none;
}

nav.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-left: 25px;
  padding-bottom: 10px;
  font-family: 'Alata', sans-serif;
    
}

nav.menu ul li a:hover{
  border-bottom: 0.2rem solid white;
}


.interactive  img{
  position: relative;
  bottom: 15rem;
  left: 6rem;
}

.text_interactive {
  bottom: 32.5rem;
  padding: 3.8rem;
  margin: 0rem 5rem 0rem 41.5rem;
  background-color: white;
  text-align: left;
  position: relative;
}

.text_interactive h2 {
  font-size: 30px;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.text_interactive p {
  font-family: 'Alata', sans-serif;
  color: hsl(0, 0%, 55%);
  font-size: 13.4px;
  line-height: 20px;
}

.text_button h3 {
  font-size: 35px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  top: 88rem ;
  left: 6rem;
  position: absolute;
}

.text_button  button {
  left: 63rem;
  top: 88rem;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: rgb(8, 4, 4);
  font-weight: bold;
  padding: 0.6rem 2rem;
  letter-spacing: 2px;
  border: 1px solid black;
  position: absolute;
}

.text_button .top:hover, .bottom:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.image-deep-earth {
  left: 6.5rem;
  top: 95rem ;
  position: absolute;
}

.image-deep-earth p {
  top: 22rem;
  left: 2.5rem;
  color: white;
  font-size: 32px;
  font-weight: lighter;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
}

.image-night-arcade {
  left: 24.5rem;
  top: 95rem ;
  filter: saturate(60%);
  position: absolute;
}

.image-night-arcade p {
  top: 22rem;
  left: 2.5rem;
  color: white;
  font-size: 32px;
  font-weight: lighter;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
}

.image-soccer-team {
  left: 42.5rem;
  top: 95rem ;
  position: absolute;
}

.image-soccer-team p {
  top: 22rem;
  left: 2.5rem;
  color: white;
  font-size: 32px;
  font-weight: lighter;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
}

.image-grid {
  left: 60.5rem;
  top: 95rem ;
  position: absolute;
}

.image-grid p {
  top: 22rem;
  left: 2.5rem;
  color: white;
  font-size: 32px;
  font-weight: lighter;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
}

.image-from-above {
  left: 6.5rem;
  top: 125rem ;
  position: absolute;
}

.image-from-above p {
  top: 22rem;
  left: 2.5rem;
  color: white;
  font-size: 32px;
  font-weight: lighter;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
}

.image-pocket-borealis {
  left: 24.5rem;
  top: 125rem;
  position: absolute;
}

.image-pocket-borealis p {
  top: 22rem;
  left: 2.5rem;
  color: white;
  font-size: 32px;
  font-weight: lighter;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
}

.image-curiosity {
  left: 21.2rem;
  top: 62.5rem;
  position: absolute;
}

.image-curiosity p {
  top: 22rem;
  left: 2.5rem;
  color: white;
  font-size: 32px;
  font-weight: lighter;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
}

.image-fisheye {
  left: 60.5rem;
  top: 125rem ;
  position: absolute;
}

.image-fisheye p {
  top: 22rem;
  left: 2.5rem;
  color: white;
  font-size: 32px;
  font-weight: lighter;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
}

.image-deep-earth:hover, .image-night-arcade:hover, .image-soccer-team:hover, .image-grid:hover {
  opacity: 0.3;
}

.image-from-above:hover, .image-pocket-borealis:hover {
  opacity: 0.3;
}

.image-curiosity:hover, .image-fisheye:hover {
  opacity: 0.6;
}

.attribution {
  background-color: black;
  padding: 4% 40.55%;
  color: white;
  top: 164rem;
  position: absolute;

}

.attribution .logo {
  width: 53%;
  
}
.logo {
  margin-bottom: 0rem;
  bottom: 0.6rem;
  left: -25.5rem;
  position: relative;
}

.menu-footer ul{
  display: flex;
  margin: 0;
  left: -26.5rem;
  font-family: 'Alata', sans-serif;
  position: relative;
}
.menu-footer li {
  margin: 1rem;
   
}

.menu-footer a {
  color: white;
}

.menu-footer ul li a:hover {
  border-bottom: 0.2rem solid white;
}

.Midia-Social {
  margin: 0;
}
.Midia-Social a {
  top: 61.8rem;
  left: 59rem;
  margin: 0.5rem;
  position: relative;
}

.Midia-Social a:hover {
  border-bottom: 0.2rem solid white;
}

.text-baseboard p {
  left: 53rem;
  top: 63.5rem;
  color: #a5a5a5;
  position: relative;
}