@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none; 
}

header {
    width: 100%;
    overflow-x: hidden;
}

.banner img {
    width: 100%;
    overflow-x: none;
}

.banner {
    width: 100%;
    overflow-x: none;
    position: relative;
}

.textbanner {
    top: 7%;
    left: 6%;
}

.textbanner h1 {
    padding: 2rem;
    margin: 0.7rem 43rem 0rem 3px;
    top: -34rem;
    left: 9rem;
    font-weight: 200;
    border: 2px solid white;
    color: white;
    font-size: 3.8rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
}

.logo {
    margin-bottom: 6rem;
    bottom: 33.5rem;
    left: 9rem;
    position: relative;
    
}

nav.menu ul {
    display: flex;
    position: relative;
    bottom: 32.3rem;
    left: 47.3rem;
}

nav.menu ul li {
    list-style: none;
}

nav.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-left: 25px;
    padding-bottom: 10px;
    font-family: 'Alata', sans-serif;
    
}

nav.menu ul li a:hover{
    border-bottom: 0.2rem solid white;
}


.interactive  img{
    position: relative;
    bottom: 15rem;
    left: 6rem;
}

.text_interactive {
    bottom: 32.5rem;
    padding: 3.8rem;
    margin: 0rem 5rem 0rem 41.5rem;
    background-color: white;
    text-align: left;
    position: relative;
}

.text_interactive h2 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.text_interactive p {
    font-family: 'Alata', sans-serif;
    color: hsl(0, 0%, 55%);
    font-size: 13.4px;
    line-height: 20px;
}